# Decision Tree

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier as dt
from sklearn.metrics import accuracy_score as a

In [ ]:
d=pd.read_csv("drug.csv")
#d.head()
x=d[["Age","Sex","BP","Cholesterol","Na_to_K"]]
y=d["Drug"]
print(x["Age"])

In [ ]:
l_sex=preprocessing.LabelEncoder()
l_bp=preprocessing.LabelEncoder()
l_cl=preprocessing.LabelEncoder()
l_drug=preprocessing.LabelEncoder()
x["Sex"]=l_sex.fit_transform(x["Sex"])
x["BP"]=l_bp.fit_transform(x["BP"])
x["Cholesterol"]=l_cl.fit_transform(x["Cholesterol"])
#x["Drug"]=l_drug.fit_transform(x["Drug"])
print(y_test)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=3)
#print(np.shape(x_train))

In [ ]:
t=dt(criterion="entropy")
t.fit(x_train,y_train)
y_=t.predict(x_test)
y_

In [ ]:
print(a(y_test,y_))

# Logistic Regression

In [78]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression as lr
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder

In [79]:
d=pd.read_csv("Iris.csv")
d.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [80]:
df=d[d["Species"]!="Iris-setosa"]
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  100.000000     100.000000    100.000000     100.000000    100.000000
mean   100.500000       6.262000      2.872000       4.906000      1.676000
std     29.011492       0.662834      0.332751       0.825578      0.424769
min     51.000000       4.900000      2.000000       3.000000      1.000000
25%     75.750000       5.800000      2.700000       4.375000      1.300000
50%    100.500000       6.300000      2.900000       4.900000      1.600000
75%    125.250000       6.700000      3.025000       5.525000      2.000000
max    150.000000       7.900000      3.800000       6.900000      2.500000

In [81]:
s=LabelEncoder()
df["Species"]=s.fit_transform(df["Species"])
df.head()

<ipython-input-81-8cc8ecf39285>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Species"]=s.fit_transform(df["Species"])

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
50  51            7.0           3.2            4.7           1.4        0
51  52            6.4           3.2            4.5           1.5        0
52  53            6.9           3.1            4.9           1.5        0
53  54            5.5           2.3            4.0           1.3        0
54  55            6.5           2.8            4.6           1.5        0

In [82]:
x=df[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]]
y=df[["Species"]]
s1=StandardScaler()
x=s1.fit_transform(x)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [83]:
#s1=StandardScaler()
#x=s1.fit_transform(x)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(80, 4)
(20, 4)
(80, 1)
(20, 1)

In [84]:
model=LogisticRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

C:\Users\DIGANTA GHOSH\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

array([0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0])

In [85]:
m=confusion_matrix(y_test,y_pred)
m

array([[11,  0],
       [ 1,  8]], dtype=int64)

In [86]:
print(x_train.shape([1]))

TypeError: 'tuple' object is not callable